 *{
    margin:0px;
    padding:0px;
    border:border-box;
 }
 body{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #FCECDD;
 }
 .main{
    display: flex;
    align-items: center;
    justify-content: center;
    width:400px;
    min-height:800px;
   
 }
 .whole{
    padding:5px;
    width:80%;
    min-height:200px;
    border:2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FCFFE7;
 }
 .header{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #FF7B54;
    height:30px;
    background-color: #FF7B54;
    border-radius:15px;
    font-size:1.2rem;
 }
 .input-area{
    margin-top:1px;
    display: flex;
    width:auto;
    justify-content: center;
    border:2px solid black;
     border-radius:15px;
     overflow: hidden;
     height:25px;
     background-color:#FFF4E0;
     height:40px;
 }
 #input-box{
    width:240px;
    border:2px solid transparent;
    border-radius:15px;
    background-color:#FFF4E0;
    font-size: 1.2rem;
    padding-left:5px
 }
 input[type="text"]:active{
    border:2px solid transparent;
     ;
 }
 #button{
    width:100%;
    border:2px solid transparent;
    border-radius:15px;
     cursor:pointer;
     background-color:#FF8400;
    
    
 }
 .add-items{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin-top:2px;
 }
  
 .add{
    margin-top:2px;
    display: flex;
    min-width:50px;
     margin-left:5px;
    border:1px solid black;
overflow:hidden;
border-radius:15px;
align-items: center;
background-color: #F9FBE7;
 }
 #remove-button{
    margin-left:5px;
    border:none;
    padding:2px;
    font-size: 1.5rem;
    cursor:pointer;
    padding-left:10px;
    padding-right:10px;
    background-color:#FF8400;
 }
 p{
overflow-wrap:break-word;
margin-left:5px;
font-size: 1.2rem;
 }